.max-container {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}

a {
  -webkit-text-decoration: None;
          text-decoration: None;
  color: white;
}

nav {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  background-color: #000000;
  -webkit-box-shadow: 0 10px 5px #000000;
          box-shadow: 0 10px 5px #000000;
}

nav ul {
  margin: 0;
}

nav ul li {
  list-style: None;
  display: inline;
  padding: 0 20px;
}

nav ul li .link {
  -webkit-text-decoration: None;
          text-decoration: None;
  color: white;
}

nav ul li:hover {
  cursor: pointer;
  opacity: 0.6;
}

footer {
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 12px;
  padding: 5rem 3rem;
  text-align: center;
  -webkit-box-shadow: 0 -10px 5px #000000;
          box-shadow: 0 -10px 5px #000000;
}

footer div p {
  width: 60vw;
  margin-bottom: 2rem;
}

footer i {
  margin: 10px 10px;
}

footer i:hover {
  opacity: 0.6;
  cursor: pointer;
}

.homePage {
  width: 100vw;
  height: 100vh;
  background: url(img/beserk.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage div {
  text-align: center;
}

.homePage div h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  color: white;
  letter-spacing: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.homePage div p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 200;
  text-align: center;
  color: white;
  width: 60vw;
  margin-bottom: 4rem;
}

.homePage div a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #a4161a;
  border: 2px #a4161a;
  padding: 0.7rem 3rem;
  border-radius: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0 2px 5px #a4161a;
          box-shadow: 0 2px 5px #a4161a;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.homePage div a:hover {
  background-color: #4361ee;
  -webkit-box-shadow: 0 2px 5px #4361ee;
          box-shadow: 0 2px 5px #4361ee;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.homePage div a:active {
  background-color: #4361ee;
  -webkit-box-shadow: 0 0 #4361ee;
          box-shadow: 0 0 #4361ee;
  position: relative;
  top: 2px;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.loading {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading h1 {
  font-size: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0.5rem;
  text-align: center;
}

.notFound .link {
  font-size: 50px;
  -webkit-text-decoration: None;
          text-decoration: None;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.notFound .link:hover {
  opacity: 0.6;
}

.notFound h1 {
  color: white;
  font-size: 120px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.adventure-container p {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.adventure-container .adventure {
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adventure-container .adventure .cont-1 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adventure-container .adventure .cont-1 img {
  width: 80%;
  height: auto;
  border-radius: 2rem;
}

.adventure-container .adventure .cont-2 {
  width: 40%;
}

.adventure-container .adventure .cont-2 h2 {
  font-size: 40px;
  font-weight: 700;
}

.adventure-container .adventure .cont-3 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adventure-container .adventure .cont-3 div {
  padding-left: 2rem;
}

.adventure-container .adventure .cont-3 div ul {
  padding-left: 0;
}

.adventure-container .adventure .cont-3 div ul li {
  list-style: None;
}

/* Mobile first */
@media all and (max-width: 480px) {
  .homePage {
    background: url(img/beserk-mobile.jpg);
  }
  .homePage div h1 {
    font-size: 55px;
  }
  .homePage div p {
    font-size: 14px;
    margin: 5rem 10vw;
  }
  .loading h1 {
    font-size: 50px;
  }
  .notFound h1 {
    font-size: 40px;
  }
  .notFound .link {
    font-size: 20px;
  }
  .adventure-container .adventure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: inset 0 0 5px white;
            box-shadow: inset 0 0 5px white;
  }
  .adventure-container .adventure .cont-1 {
    width: 100%;
  }
  .adventure-container .adventure .cont-2 {
    width: 100%;
  }
  .adventure-container .adventure .cont-2 p {
    padding: 0 1rem;
  }
  .adventure-container .adventure .cont-2 h2 {
    padding: 0 1rem;
  }
  .adventure-container .adventure .cont-3 {
    width: 100%;
  }
}

/* Tablet */
@media all and (min-width: 480px) and (max-width: 768px) {
  .homePage {
    background: url(img/beserk-tablet.jpg);
  }
  .homePage div h1 {
    font-size: 80px;
  }
  .homePage div p {
    margin: 5rem 10vw;
  }
  .notFound h1 {
    font-size: 60px;
  }
  .notFound .link {
    font-size: 40px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .notFound h1 {
    font-size: 80px;
  }
}
/*# sourceMappingURL=styles.css.map */